@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gt-America-Medium-trial";
  src: url("./Assets/GT-America/GT-America-Standard-Medium-Trial.otf");
}
@font-face {
  font-family: "Gt-America-Regular-trial";
  src: url("./Assets/GT-America/GT-America-Standard-Regular-Trial.otf");
}

.anchornone{
  @apply !tw-p-0 !tw-static !tw-w-auto !tw-h-auto
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
